.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.avatar {
  height: 60px;
  width: 60px;
}

.navbar-nav .nav-item .nav-link{
  position:relative;
  bottom:-10px;
 }
